body {
	background-image:url("achtergrond.jpg"); background-size: 100%;
	}		
p{
 color: white; 
 margin-left: 190px;
}
h1{ 
	color: white;
	margin-left: 190px;
	}
li{
 color: white; 
 margin-left: 190px;
  }
h2{
	color: white; 
	margin-left: 190px;
 }